body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
h1,h2,h3,h4,h5 {
    color:#0071bc;
}

/* Begin jqm overrides */
.ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}

.ui-title {
    color:#fff;
}

.ui-listview>.ui-li-divider {
    border-top-color:#ccc;
}
/* End jqm overrides */

.bi-text-center {
    text-align:center;
}
.bi-top-margin-1-5 {
    margin-top:1.5em;
}
h2.bi-text-danger,
h3.bi-text-danger  {
    color:red;
}

.bi-invalid-input {
    background-color:#fffacd!important;
}

.bi-invisible {
    display:none;
}

.bi-ctn-err {
    background-color:#ffe1cd;
    padding:0 .5em;
    margin-bottom:.5em;
    border: 1px solid #e9cfbd;
    border-radius:3px 3px;
}

.bi-header {
    border: 0px; position: fixed; width: 100%; top: 0px; left: 0px; z-index: 21;
}

.bi-list-item-primary {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.bi-list-item-secondary {
    color:#662d91;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/*Visite/ Visite Médical
onglet Historique
met en forme les onglets Visite, Medical, Viste/Medical*/
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*Visite/ Visite Médical
onglet Visite
page A la Maison ce jour*/
#maison-oui{
    color: white;
    background-color:green;
}

#maison-non{
    color: white;
    background-color:red;
}

/*page A la Maison ce jour Non*/
span.non{
    color:red;
}

/*page A la Maison ce jour OUI*/
span.oui{
    color:green;
}




/*Visite Médical
onglet Visite, page Température*/
#oui-signes{
    color: white;
    background-color:green;
}

#non-signes{
    color: white;
    background-color:red;
}